<h1>Donators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @donators.each do |donator| %>
    <tr>
          <td><%= donator.name %></td>
          <td><%= donator.user_name %></td>
          <td><%= donator.email %></td>
          <td><%= donator.phone_number %></td>
          <td><a href="/donators/<%= donator.id %>">Show</a>
        </td>
      <%if session["type"] == "manager"%>
          <td><a href="/donators_edit">Edit</a></td>
          <td><a href="/donators/<%= donator.id %>/destroy">Destroy</a></td>
      <%end%>

    </tr>
  <% end %>
  </tbody>
</table>

