<h1>News #<%= @news.id %></h1>

<div>
  <strong>Title</strong>:<br />
  <p><%= @news.title %></p>
</div>

<div>
  <strong>Content</strong>:<br />
  <p><%= @news.content %></p>
</div>

<%if Child.find_by(@news.child_id)%>
    <div>
    <strong>Child</strong>:<br />
    <p><%= Child.find_by(@news.child_id).name %></p>
    </div>
<%end%>

<div>
  <strong>School</strong>:<br />
  <p><%= School.find_by(@news.school_id).name %></p>
</div>

<%if session["id"] == @news.school_id and session["type"] == "school"%>
    <a href="/news/<%= @news.id %>/edit">Edit</a> |
    <a href="/news/<%= @news.id %>/destroy">Destroy</a>
<%end%>
