<h1>School #<%= @school.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @school.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @school.email %></p>
</div>
<div>
  <strong>Phone number</strong>:<br />
  <p><%= @school.phone_number %></p>
</div>
<div>
  <strong>Address</strong>:<br />
  <p><%= @school.address %></p>
</div>
<div>
  <strong>Card number</strong>:<br />
  <p><%= @school.card_number %></p>
</div>

<%if @school.id == session["id"] and session["type"] == "school"%>
    <a href="/schools_edit">edit account</a>
    <a href="/school_change_password">change password</a>
<%end%>